{% extends "page.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load i18n %}
{% block sections %}
    <section class="heading-subpage">
        <div class="row">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="row">
            {{ page.opis|richtext }}
        </div>
    </section>
    <section class="content-subpage">

        <div class="row">
            <img src="/static/vendors/img/mapa-punkt.jpg" alt="Stodoła - lokalizacja" class="map-point">
        </div>

        <div class="row text-first-miejsca">
            {{ page.komentarz|richtext }}
        </div>
        <div class="row">
            {{ page.objasnienie|richtext }}
        </div>
        <div class="row">
            <div class="content-bottom-subpage">
                <div class="row">
                    <div class="col span-1-of-2">
                        <img src="/static/resources/img/galeria10.jpg" alt="Stodoła" class="stodola-photo">
                    </div>
                    <div class="col span-1-of-2">
                        {{ page.zaproszenie|richtext }}
                    </div>

                </div>

            </div>

        </div>
    </section>
{% endblock sections %}