{% extends "home.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load i18n %}
{% block sections %}
    <section>

        <div class="main-quote-box">
            <h1>{{ page.long_name|richtext }}</h1>
            <a class="btn-main" href="#filozofia">Dowiedz się</a>
            <a class="btn-main" href="#wolna-ziemia">Przyłącz się</a>
            <a class="btn-main" href="#">Dorzuć się</a>

        </div>
        <div class="row quote-mix">
            <div class="col span 1-of-2">
            </div>
            <div class="col span 1-of-2">
                <div class="quote-h">
                    <q class="quote">{{ page.quote }}</q>
                    <p class="quote">{{ page.quote_author }}</p>
                </div>
            </div>
        </div>

    </section>

    <section class="section-features">

        <div class="row js--section-features">
            <div class="col span-1-of-3 box">
                <ion-icon name="earth"></ion-icon>
                <h3>{{ page.earth_head }}</h3>
                {{ page.earth|richtext }}
                <a class="btn-features" href="/misja">Dowiedz się więcej</a>
            </div>

            <div class="col span-1-of-3 box">
                <ion-icon name="star"></ion-icon>
                <h3>{{ page.star_head }}</h3>
                {{ page.star|richtext }}

                <a class="btn-features" href="#filozofia">Dowiedz się więcej</a>
            </div>
            <div class="col span-1-of-3 box">
                <ion-icon name="flame"></ion-icon>
                <h3>{{ page.flame_head }}</h3>
                {{ page.flame|richtext }}
                <a class="btn-features" href="#wolna-ziemia">Dowiedz się więcej</a>
            </div>
        </div>

    </section>
    <section class="section-gallery">

        <ul class="gallery-showcase">
            <li>
                <figure class="gallery-photo">
                    <img src="{% static 'resources/img/galeria1.jpg' %}" alt="Photo1">
                </figure>
            </li>
            <li>
                <figure class="gallery-photo">
                    <img src="{% static 'resources/img/galeria2.jpg' %}" alt="Photo2">
                </figure>
            </li>
            <li>
                <figure class="gallery-photo">
                    <img src="{% static 'resources/img/galeria3.jpg' %}" alt="Photo3">
                </figure>
            </li>
            <li>
                <figure class="gallery-photo">
                    <img src="{% static 'resources/img/galeria4.jpg' %}" alt="Photo4">
                </figure>
            </li>

        </ul>
        <ul class="gallery-showcase">
            <li>
                <figure class="gallery-photo">
                    <img src="{% static 'resources/img/galeria5.jpg' %}" alt="Photo5">
                </figure>
            </li>
            <li>
                <figure class="gallery-photo">
                    <img src="{% static 'resources/img/galeria6.jpg' %}" alt="Photo6">
                </figure>
            </li>
            <li>
                <figure class="gallery-photo">
                    <img src="{% static 'resources/img/galeria7.jpg' %}" alt="Photo7">
                </figure>
            </li>
            <li>
                <figure class="gallery-photo">
                    <img src="{% static 'resources/img/galeria8.jpg' %}" alt="Photo8">
                </figure>
            </li>

        </ul>
    </section>
    <a name="wolna-ziemia"></a>
    <section class="wolna-ziemia">

        <div class="row">
            <div class="col span-1-of-2 wz-box">
                <div class="row title-rwz">
                    <h2>Nasze działania</h2>
                </div>
                <div class="row wz-opis">
                    {{ page.wolna_ziemia|richtext }}
                </div>
                <a class="btn-ruch" href="#spis">Dowiedz się więcej</a>

            </div>
            {#            <div class="col span-1-of-2 wz-box">#}
            {#                <img src="{% static 'resources/img/ind_bmw.png' %}" alt="Logo Wolnej Ziemi" class="ind">#}
            {#            </div>#}

        </div>
    </section>
    <a name="stodola"></a>
    <section class="stodola">

        <div class="row">
            <div class="col span-1-of-2">
            </div>
            <div class="col span-1-of-2">
                <div class="row stodola-title">
                    <h1>Stodoła Wymyślacz</h1>
                </div>
                <div class="stodola-text">{{ page.stodola|richtext }}</div>
                <a class="btn-section-stodola" href="/stodoła-wymyślacz">Dowiedz się więcej</a>
            </div>

        </div>

    </section>
    <a name="workshop"></a>
    <section class="workshop">

        <div class="row">
            <div class="col span-1-of-2 workshop-box">
                <div class="row workshop-header">
                    <h1>Warsztaty</h1>
                </div>
                <div class="workshop-opis">
                    {{ page.workshop|richtext }}
                    <a class="btn-section-workshop" href="/warsztaty">Dowiedz się więcej</a>
                </div>
            </div>
        </div>
    </section>
    <a name="filozofia"></a>
    <section class="filozofia">
        <div class="row">
            <div class="col span-1-of-2">
            </div>
            <div class="col span-1-of-2 wz-box">
                <div class="row title-rwz">
                    <h2>Nasza Filozofia</h2>
                </div>
                <div class="row right-opis">
                    {{ page.filoziofia|richtext }}
                </div>
                <a class="btn-ruch" href="/ruch-wolnej-ziemi">Dowiedz się więcej</a>

            </div>
        </div>
    </section>
    <a name="spis"></a>
    <section class="spis">
        <div class="row">
            <div class="col span-1-of-2">
            </div>
            <div class="col span-1-of-2 wz-box">
                <div class="row title-rwz">
                    <h2>{{ page.spis_title }}</h2>
                </div>
                <div class="row right-opis">
                    {{ page.spis|richtext }}
                </div>
                {% if page.spis_link %}
                <a class="btn-ruch" href="{{ page.spis_link }}">Dowiedz się więcej</a>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock sections %}