{% extends "page.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load i18n %}
{% block sections %}
    <section class="heading-subpage">
        <div class="row">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="row">
            <div class="flex-center">
                <img src="/static/vendors/img/sowaPNG.png" alt="sowa" class="owl">
            </div>
        </div>
        <div class="row">
            {{ page.opis|richtext }}
        </div>
    </section>
    {#    <section class="heading-subpage">#}
    {#        <div class="row">#}
    {#            {{ page.opis|richtext }}#}
    {#        </div>#}
    {#    </section>#}
    <section class="content-subpage">
        <div class="row text-first">
            {{ page.objasnienie|richtext }}
        </div>
        <div class="row">
            <div class="line-subpage">
            </div>
        </div>
        <div class="row">
            <div class="content-bottom-subpage">
                <div class="row">
                    <div class="col span-1-of-2">
                        <img src="/static/vendors/img/rainbow.jpg" alt="rainbow 1993r" class="rainbow-photo">
                    </div>
                    <div class="col span-1-of-2">
                        {{ page.komentarz_1|richtext }}
                    </div>

                </div>

            </div>

        </div>
        <div class="row">
            <div class="content-bottom-subpage">
                <div class="row">
                    <div class="col span-1-of-2">
                        {{ page.komentarz_2|richtext }}
                    </div>
                    <div class="col span-1-of-2">
                        <img src="/static/vendors/img/rainbow2.jpg" alt="rainbow 1993r" class="rainbow-photo">
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col span-1-of-2">
                    <img src="/static/vendors/img/rainbow3.jpg" alt="rainbow 1993r" class="rainbow-photo">
                </div>
                <div class="col span-1-of-2">
                    {{ page.komentarz_3|richtext }}
                </div>

            </div>

        </div>
        <div class="row">
            <div class="line-subpage">
            </div>
        </div>
        <div class="row">
            {{ page.podsumowanie|richtext }}

        </div>
    </section>
{% endblock sections %}