{% extends "page.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load i18n %}
{% block sections %}
   <section class="heading-subpage">
        <div class="row flex-center">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="row">
            {{ page.opis|richtext }}
        </div>
    </section>
    <section class="content-subpage">

        <div class="row">
            <img src="/static/vendors/img/humantree.png" alt="humantree" class="humantree">
        </div>

        <div class="row text-first">
            {{ page.zaproszenie|richtext }}
        </div>
        <div class="row">
            <div class="line-subpage-w">
            </div>
        </div>
        <div class="row">
            <div class="content-bottom-subpage">
                <div class="row">
                    <div class="col span-1-of-2">
                        <img src="/static/resources/img/arturmilicki.jpg" alt="Artur Milicki" class="workshop-autor">
                    </div>
                    <div class="col span-1-of-2">
                        {{ page.milicki|richtext }}
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="line-subpage-w">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-bottom-subpage">
                <div class="row">
                    <div class="col span-1-of-2">
                        {{ page.beret|richtext }}
                    </div>
                    <div class="col span-1-of-2">
                        <img src="/static/resources/img/beretm.jpg" alt="Beret" class="workshop-autor">
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="line-subpage-w">
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-2">
                    <img src="/static/resources/img/monika.jpg" alt="ktos" class="workshop-autor">
                </div>
                <div class="col span-1-of-2">
                    {{ page.monika|richtext }}
                </div>

            </div>

        </div>
        <div class="row">
            <div class="line-subpage-w">
            </div>
        </div>
        <div class="row">
            {{ page.comment|richtext }}

        </div>
    </section>
{% endblock sections %}