{% extends "main.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load i18n %}
{% block sections %}
	<section class="heading-subpage">
		<div class="row">
		{{ page.opis|richtext }}
		</div>
	</section>
	<section class="content-subpage">

		<div class="row">
			<img src="/static/vendors/img/hamsa-4898233_1280.png" alt="hand" class="hand">
		</div>

		<div class="row text-first">
		<p>Zapraszamy do współpracy osoby, które chciały by się zajmować alternatywnymi rozwiązaniami, dotyczącymi struktur społecznych.
		Będziemy też dysponować tzw. biurem, gdzie można gromadzić i udostępniać przez internet gotowe projekty.</p>
			</div>
		<div class="row">
			<div class="line-subpage-w">
			</div>
		</div>
		<div class="row">
			<div class="content-bottom-subpage">
				<div class="row">
					<div class="col span-1-of-2">
						<img src="/static/resources/img/arturmilicki.jpg" alt="Artur Milicki" class="workshop-autor">
					</div>
					<div class="col span-1-of-2">
						{{ page.milicki|richtext }}
					</div>

				</div>

			</div>
		<div class="row">
			<div class="line-subpage-w">
			</div>
		</div>
		</div>
		<div class="row">
			<div class="content-bottom-subpage">
				<div class="row">
					<div class="col span-1-of-2">
                        {{ page.beret|richtext }}
					</div>
					<div class="col span-1-of-2">
						<img src="/static/resources/img/beretm.jpg" alt="Beret" class="workshop-autor">
					</div>

				</div>

			</div>
			<div class="row">
			<div class="line-subpage-w">
			</div>
		</div>
			<div class="row">
					<div class="col span-1-of-2">
						<img src="/static/resources/img/monika.jpg" alt="ktos" class="workshop-autor">
					</div>
					<div class="col span-1-of-2">
						{{ page.monika|richtext }}
					</div>

				</div>

		</div>
		<div class="row">
			<div class="line-subpage-w">
			</div>
		</div>
		<div class="row">
			{{ page.comment|richtext }}

		</div>
		</section>
		<section class="section-call">
			<div class="row title-call">
				<h2>Czas na Ciebie</h2>
			</div>
			<div class="row">
			<div class="col span-1-of-2">
				<div class="title-box">
					<div>
						<h3>Dołącz do nas</h3>
						<p class="join-title"> Dołącz do naszej grupy, zapisując się na miesięczny newsletter</p>
					</div>
					<div>
					<ul>
						<li><ion-icon name="shield-checkmark"></ion-icon>Bądź na bieżąco</li>
						<li><ion-icon name="shield-checkmark"></ion-icon>Stań się częścią czegoś większego</li>
						<li><ion-icon name="shield-checkmark"></ion-icon>Korzystaj ze zniżki na nas warsztaty</li>
					</ul>
					</div>
					<div>
						<a href="dolaczsie.html" class="btn">Dopisz się</a>
					</div>
					</div>
			</div>
			<div class="col span-1-of-2">
				<div class="title-box">
					<div>
						<h3>Dorzuć się</h3>
						<p class="join-title"> Dołącz do grona naszych patronów, weź udział w losowaniu wybranych warsztatów</p>
					</div>
					<div>
					<ul>
						<li><ion-icon name="shield-checkmark"></ion-icon>Realnie dokonaj zmiany rzeczywistsci</li>
						<li><ion-icon name="shield-checkmark"></ion-icon>Stań się częścią czegoś większego</li>
						<li><ion-icon name="shield-checkmark"></ion-icon>Korzystaj ze zniżki na nas warsztaty</li>
					</ul>
					</div>
					<div>
						<a href="dorzucsie.html" class="btn">Dorzuć się</a>
					</div>
					</div>
			</div>
			</div>
		</section>
{% endblock sections %}