


/* Screen to 1520px (widths smaller than the 1900 row))*/

@media only screen and (max-width:1900px){
		.main-nav { 
	margin-right: 1%;
}
	.btn-main:link,
	.btn-main:visited,
	input[type=submit] {
	transform: translate(60%);
}
	.stodola {
		height: 130vh;
	}
	.btn-section-stodola:link,
	.btn-section-stodola:visited,
	input[type=submit] {
		display:inline-block;
		margin-top: 80px;
	}

/* Screens up to 1422px*/

@media only screen and (max-width:1716px){

.main-nav {
	float: right; 
	margin-right: 5%;
}


.main-nav li a:link,
.main-nav li a:visited {
	font-size: 80%;
	margin-left: 5px;
}
.btn-main:link,
.btn-main:visited,
input[type=submit] {
	transform: translate(50%);
}
.quote-h {
	position: absolute;
	width: 570;
	top:75%;
	left: 75%;
	
}
.main-quote-box {
	position: absolute;
	width: 1140;
	top:45%;
	left: 45%;
	transform: translate(-50%,-50%);
	margin-top: 3%;
}
}

@media only screen and (max-width:1354px){

	.main-nav {
	float: right; 
	margin-right: 1%;
}

	.logo {
		height: 120px;
	}
	.btn-section-stodola:link,
	.btn-section-stodola:visited,
	input[type=submit] {
		display:inline-block;
		margin-top: 70px;
	}
}
@media only screen and (max-width:1236px){
		.btn-main:link,
		.btn-main:visited,
		input[type=submit] {
			display:inline-block;
			padding: 6px 35px;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 20px;
			transform: translate(20%, 0%);
	}
	

	


@media only screen and (max-width:1099px){

.main-nav {
	float: right;
}
.logo {
	
	height: 100px;
	width: auto;
	float:left;
	margin:1%;
} 


	.row {
	max-width: 1140px;
	margin: 0 5%;
}
	.stodola {
		height: 150vh;
	}
	.btn-section-stodola:link,
	.btn-section-stodola:visited,
	input[type=submit] {
		display:inline-block;
		margin-top: 250px;
		margin-left: -5%;
	}
}
	

	
@media only screen and (max-width:1023px){
	
	.main-nav {
		float: right; 
		margin-right: 0%;
	
}
	.logo {
		height: 110px;
	}
	.btn-section-stodola:link,
	.btn-section-stodola:visited,
	input[type=submit] {
		display:inline-block;
		margin-top: 250px;
		margin-left: -5%;
	}

}
	
@media only screen and (max-width:985px){

	.logo {
		height: 100px;
		margin: 2%;
	}
	.main-nav li a:link,
	.main-nav li a:visited {
		font-size: 70%;
		margin-left: 3px;
}
	.btn-section-stodola:link,
	.btn-section-stodola:visited,
	input[type=submit] {
		display:inline-block;
		margin-top: 320px;
		margin-left: -10%;
	}
	.stodola {
		height: 180vh;
	}
}

@media only screen and (max-width:878px){

	.logo {
		height: 90px;
		margin: 2%;
	}
	.main-nav {
			display: none;
		}
	.quote-h {
		display: none;
	}
		
	}